<html>
  <head>
    <title>Shake Attack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/socket.io.js"></script>
    <script src="/shake.js"></script>
  </head>
  <body>
    <div class="container" style="vertical-align: middle;">
      <div id="title" style="text-align: center;">
        <h1>Shake PK</h1>
        <img src='/app-watch.jpg' style="width:300px;height:150px">
     
      </div>
      <div class="row">
        <div class="col-md-5">
          <h1 style="text-align: center;">Red Team</h1>
          <div class="progress">
            <div class="progress-bar progress-bar-danger" id= "red_progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:10%">
            </div>
          </div>
          <div style="text-align: center"><h2 id="red_blood">100</h2></div>
          <div>
            <ul id="red" style="width: 300px; height: 200px; overflow: auto">
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <center><h1>VS</h1></center>
          <div style="text-align: center">
            <a href="/admin/reset" class="btn btn-primary">Reset</a>
          </div>

        </div>
        <div class="col-md-5">
        <h1 style="text-align: center;">White Team</h1>
          <div class="progress">
              <div class="progress-bar progress-bar-danger" id="white_progress" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
              </div>
           </div>
          <div style="text-align: center"><h2 id="white_blood">100</h2></div>
          <div>
            <ul id="white" style="width: 300px; height: 200px; overflow: auto"> 
            </ul>
          </div>
        </div>
      </div>
          </div>
  <script>
    var socket = io.connect('http://192.168.0.3:3000');
    socket.on('update_blood', function (data) {
      if(data[1].blood < 0){
        location.href = '/white_win.html' 
      }
      else if(data[0].blood < 0){
        location.href = '/red_win.html' 
      }
      else{
      document.getElementById('red_blood').innerHTML=data[1].blood
      document.getElementById('red_progress').style.width=data[1].blood+"%"
      document.getElementById('white_blood').innerHTML=data[0].blood
      document.getElementById('white_progress').style.width=data[0].blood+"%"
       }
      //console.log(data);
    });
    socket.on('attacker', function (data) {
      var liveMessage = "<li><span style='color: red;font-size: 20px;'>"+data.attacker+"</span>发动了攻击</li>"
      $("#"+data.team).prepend(liveMessage)
    });

   </script>

  </body>
</html>
