<html>
  <head>
    <title>Shake Attack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/socket.io.js"></script>
    <script src="/shake.js"></script>
  </head>
  <body>
    白队战斗员:<%=userName%>
  <script>
    var socket = io.connect('http://192.168.0.3:3000');
        
    var myShakeEvent = new Shake({
      threshold: 15, // optional shake strength threshold
      timeout: 1000 // optional, determines the frequency of event generation
    });
    
    myShakeEvent.start();
    window.addEventListener('shake', shakeEventDidOccur, false);

    function shakeEventDidOccur () {
      //put your own code here etc.
      socket.emit('attack', { team: 'red',myTeam: 'white', userName: "<%=userName%>"});
    }
  </script>

  </body>
</html>
